body {
    display: block;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.box-starter {
    border: solid;
    background: purple;
    color: white;
    border-color: black;
    display: block;
    height: 200px;
  
}
#timer{
    font-size: 40px;
    position: absolute;
    background: purple;
    color: white;
    border-style: double;
}
header {
    font-size: 40px;
}
#start-game {
    font-size: 30px;
    font-family: cursive;
}
#questions{
    border: solid;
    border-color: black;
    height: 70px;
    font-size: 40px;
    background-color: purple;
    color: white;

}
.hide{
    display: none;

}
button {
    background-color: blanchedalmond;
    font-size: 30px;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
#choices {
    display: grid;
}
